@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");



/* Header Logo Styling goes here */
.header-logo {
	width: 16rem;
	height: 6rem;
	text-align: center;
}


/* Footer Styling goes here */

.footer {
	background-color: black;
	color:  #66FCF1;
	height: 5%;
	
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
    margin-top: auto;
   
}
/* Footer Media Queries goes here */
@media (min-width: 499px) {
	.footer {
		padding: 1%;
        
}
@media (min-width: 500px) {
	.footer {
		height: 10%;
        padding-bottom: 0%
        
	}
}
@media (min-width: 1000px) {
	.footer {
		padding: 0%;
		height: 6%;
	}

	.homepage-text {
		font-size: 10rem;
		font-family: 'Roboto Slab', serif;
		color: black;
	}
}
/* Homepage text media queries goes here */
@media (min-width: 570px) {
	.homepage-text {
		font-size: 20rem;
		color: black;
	}
}

@media (min-width: 720px) {
	.homepage-text {
		font-size: 20rem;
		padding-right: 25%;
		color: black;
	}

	.button-homepage {
		height: 13vw;
		width: 50vw;
	}
}
/* Homepage button media queries goes here */
@media (min-width: 570px) {
	.button-homepage {
		height: 4rem;
		width: 14rem;
	}
}

@media (min-width: 720px) {
	.button-homepage {
		height: 4rem;
		width: 14rem;
	}

	
}
/* Social Media Logo media queries goes here */
.socialmedia-logos {
	padding-bottom: 5%;
}

.timetable-message {
	color: black;
	font-size: 4rem;
	padding-bottom: 5%;
    
}

.about-header {
	color: red;
    
}

.about-bio {
	color: black;
	padding-bottom: 10%;
}
@media (min-width: 1000px) {
	.about-bio {
		font-size: 25px;
        padding-bottom: 0%;
	}
}


/* 'About header styling goes here */
.about-header {
	color:  black;
}
/* 'About bio styling goes here */
.about-bio {
	color: black;
	padding-bottom: 5%;
}




.zoom-text {
    font-size: 2rem;
    font-weight:900;
}


/* 'About image' styling goes here */
.gym-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}



.col-sm-4:hover .gym-image {
  opacity: 0.3;
}


.nav-link {
    font-size:x-large;
    font-weight: 600;
    
}



/* Icon styling and hover effect */
.fa:hover {
  opacity: 0.7;
}

.fa-twitter-square {
  
  color: #55ACEE ;
}

.fa-facebook-square {
  color: #55ACEE ;
}

.fa-google-plus-square {
  
  color:red;
}

.fa-instagram {
  
  color:#bc2a8d;
}}
.container {
      min-height: 100vh;
}

/* Navbar Styling goes here */
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #7eb444;
    border:none;
}
.navbar-toggler .line{
    width: 140%;
    float: left;
    height: 4px;
    background-color: #66FCF1;
    margin-bottom: 5px;
}

.navbar-custom {
    color: black;
}

/* Navbar Link Styling goes here */
.navbar-custom .navbar-nav .nav-link {
    color: #66FCF1;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}


 





.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}
/* Timetable header Media Queries go here */
@media (max-width: 500px) {
	.timetable-message{
		font-size: 2rem;
        color: black;
	}
}
/* Gallery photo Text Media Queries go here */
@media (max-width: 500px) {
	.white-text{
		font-size: 2rem;
        color: white;
	}
}

.about-img {
    margin-bottom: 60px!important;
}


